<div fxLayout="row" fxLayoutAlign="center">
    <div fxLayout="column" fxFlex="1000px">
        <form class="mt-60" #clientsFrm>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>personal data</mat-card-title>
                </mat-card-header>
                <mat-card-content class="mat-20">
                    <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="10">
                        <mat-form-field>
                            
                        </mat-form-field>
                    </div>
                </mat-card-content>
            </mat-card>
        </form>
    </div>
</div>